<html>
  <head>
    <title>サッカー試合検索</title>
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/bootflat.github.io-master/css/site.min.css">
  </head>
  <body>
    <h1>サッカー試合検索</h1>
		<div class="col-md-12">

            <div class="panel panel-default">
              <div class="panel-heading">本日の試合一覧</div>

              <ul class="list-group">
								<%=games%>
              </ul>
            </div>
          </div>


  </body>
</html>
